body {
    text-align: center;
}

ul{
    display: inline-block;
}

#btn-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}

.cross-li {
    text-decoration: line-through;
}