body {
    background-color: #272724;
    font-family: "Inter", sans-serif;
}

ul{
    width: 100%;
    color: #FBF8F5;
    list-style-type: none;
    margin-bottom: 5px;
    padding-inline-start: 0;
}

#btn-div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 20px;
}

.cross-li {
    text-decoration: line-through;
}

#today-text{
    color: #B0B6B9;
    margin-bottom: 0;
}

#header-text {
    margin-top: 0;
    color: #FBF8F5;
}

#main-div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
    border: 1px solid #B0B6B9;
    border-radius: 8px;
    background-color: #353532;
    height: 400px;
    padding: 20px;
    margin-top: 30px;
}

.second-div {
    display: flex;
    gap: 5px;
}

#input-field {
    background: none;
    border: 1px solid #B0B6B9;
    border-radius: 3px;
    padding: 5px;
    color: #FBF8F5;
    width: 100%;
}

#add-btn {
    background: none;
    color: #FBF8F5;
    border: 1px solid #B0B6B9;
    border-radius: 3px;
}

#separetor {
    border-bottom: 1px solid  #B0B6B9;
    margin-top: auto;
}

/* fix this button  */

#delete-all-btn {
    background: none;
    color: #FBF8F5;
    border-radius: 4px;
    border: 1px solid #B0B6B9;
    font-family: inherit;
}

input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #B0B6B9;
    color: black;
    border-radius: 3px;
    accent-color: #272724;
    cursor: pointer;
    display: grid;
    place-content: center;
}

input[type="checkbox"]:checked {
    background-color: #B0B6B9;
}

input[type="checkbox"]:checked::after {
    content: "✔";
    accent-color: #272724;
    position: inherit;
    cursor: pointer;
    padding: 0;
}

#renderMessageTask {
    color: #B0B6B9;
}

li {
    display: flex;
    align-items: center;
    gap: 5px;
    transition-duration: 0.4s;
    margin-bottom: 12px;
}

li:hover {
    background-color: #272724;
    padding: 10px 0;
    border-radius: 5px;
}